.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.contact {
  flex: 0 200px;
}

.details {
  flex: 1;
  position: relative;
  min-height: 75vh;
}

.contact,
.details {
  padding: 0;
}

.how_to_apply {
  margin: 1rem 0;
}

.how_to_apply > span {
  color: var(--heather);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  width: max-content;
  margin-bottom: 1rem;
  display: block;
}

.how_to_apply > div {
}

.wrapperBody div {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderSkeleton;
  -webkit-animation-timing-function: linear;
  background: #f6f7f8;
  background-image: -webkit-gradient(
    linear,
    left center,
    right center,
    from(#f6f7f8),
    color-stop(0.2, #edeef1),
    color-stop(0.4, #f6f7f8),
    to(#f6f7f8)
  );
  background-image: -webkit-linear-gradient(
    left,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 104px;
  position: relative;
}

.wrapperBody div {
  position: absolute;
}

@-webkit-keyframes placeholderSkeleton {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.title {
  left: 16px;
  top: 16px;
  height: 48px;
  width: 60%;
}

.type {
  left: 16px;
  top: 96px;
  height: 28px;
  width: 75px;
}

.created_at div {
  left: 36px;
  top: 128px;
  height: 25px;
  width: 175px;
}

.created_at svg {
  top: 128px;
  height: 25px;
  position: absolute;
}

.logo div {
  top: 192px;
  height: 90px;
  width: 90px;
  border-radius: 4px;
  right: auto;
}

.company div {
  left: 116px;
  top: 192px;
  height: 35px;
  left: 120px;
  width: 100px;
}

.location svg {
  left: 120px;
  top: 256px;
  height: 25px;
  position: absolute;
}

.location div {
  top: 256px;
  height: 25px;
  left: 152px;
  width: 100px;
}

.text1 {
  top: 325px;
  height: 25px;
  width: 95%;
}

.text2 {
  top: 360px;
  height: 25px;
  width: 95%;
}

.text3 {
  top: 395px;
  height: 25px;
  width: 95%;
}

.text4 {
  top: 430px;
  height: 25px;
  width: 95%;
}

.text5 {
  top: 465px;
  height: 25px;
  width: 95%;
}

@media (min-width: 640px) {
  .content {
    flex-direction: row;
  }

  .contact,
  .details {
    padding: 1rem;
  }
}
